@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #0d0d0d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #5493f7;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 0.4rem 1.6rem;
  font-weight: 600;
  font-size: 11pt;
  border-radius: 1rem;
}

.green {
  color: #3fba50;
}

.red {
  color: #f88070;
}

.blue {
  color: #5493f7;
}

header {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

header a {
  display: block;
  margin: 0 auto;
  color: #5493f7;
}

header img {
  width: 250px;
}

section {
  background-color: #1e1e1e;
  width: min(90%, 600px);
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  margin: 3rem auto;
  border-radius: 2rem;
  text-align: center;
}

section h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

section h3 img {
  width: 28px;
  margin-right: 10px;
}
